.nav {
  margin: 30px 0px 0px 30px;
  display: inline-block;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  min-height: 600px;
}
.nav-item {
  padding: 5px;
  color: #a9babb;
  font-weight: 300;
  margin: 5px;
  border-left: 2px solid #a9babb;
  cursor: pointer;
}
.nav-item:hover {
  background-color: #a9babb;
  color: #fff;
  font-weight: 300;
}
.nav-item p {
  padding-left: 15px;
  margin: 0;
}
.selected {
  border-left: 2px solid #a65d89;
  color: #892d63;
  font-weight: 700;
}
